<div class="container-fluid text-center">
	<div class="btn-group p-1 mt-2" role="group" aria-label="Socials">
		<button
			class="btn btn btn-link text-white"
			type="button"
			onclick="goToContacts('Facebook')"
		>
			<i class="fa-brands fa-facebook"></i>
		</button>
		<button
			class="btn btn-link text-white"
			type="button"
			onclick="goToContacts('Twitter')"
		>
			<i class="fa-brands fa-x-twitter"></i>
		</button>
		<button
			class="btn btn-link text-white"
			type="button"
			onclick="goToContacts('Instagram')"
		>
			<i class="fa-brands fa-instagram"></i>
		</button>
		<button
			class="btn btn-link text-white"
			type="button"
			onclick="goToContacts('Youtube')"
		>
			<i class="fa-brands fa-youtube"></i>
		</button>
		<button
			class="btn btn-link text-white"
			type="button"
			onclick="goToContacts('Whatsapp')"
		>
			<i class="fa-brands fa-whatsapp"></i>
		</button>
		<button
			class="btn btn-link text-white"
			type="button"
			onclick="goToContacts('Signal')"
		>
			<i class="fa-brands fa-signal-messenger"></i>
		</button>
		<button
			class="btn btn-link text-white"
			type="button"
			onclick="goToContacts('Telegram')"
		>
			<i class="fa-brands fa-telegram"></i>
		</button>
		<button
			class="btn btn-link text-white"
			type="button"
			onclick="goToContacts()"
		>
			<i class="fa-solid fa-envelope"></i>
		</button>
	</div>
	<p class="mx-auto">
		© 2024
		<a
			href="https://github.com/PBento96"
			style="text-decoration: none; color: white"
			target="_blank"
			>Pedro Bento</a
		>
		- Some Rights Reserved
	</p>
</div>
