<!-- pages/components/footer.html -->
<div class="layout footer">
	<div class="socials">
		<div class="layout footer" id="footer-div">
			<div class="socials">
				<a href="#" class="footer-link"><i class="fa-brands fa-facebook"></i></a>
				<a href="#" class="footer-link"><i class="fa-brands fa-x-twitter"></i></a>
				<a href="#" class="footer-link"><i class="fa-brands fa-instagram"></i></a>
				<a href="#" class="footer-link"><i class="fa-brands fa-youtube"></i></a>
				<a href="#" class="footer-link"><i class="fa-brands fa-whatsapp"></i></a>
				<a href="#" class="footer-link"><i class="fa-brands fa-signal-messenger"></i></a>
				<a href="#" class="footer-link"><i class="fa-brands fa-telegram"></i></a>
				<a href="#" class="footer-link"><i class="fa-solid fa-envelope"></i></a>
			</div>
			<p>© 2024 Pedro Bento - Some Rights Reserved</p>
		</div>
	</div>
</div>
