<!-- pages/components/header.html -->
<div class="layout header">
	<a href=""
		><img
			class="logo"
			src="res\img\logo\ptv-logo-transparent.png"
			alt="Para tu Veres!"
	/></a>
	<div class="nav">
		<button data-url="pages/home.html" id="home-link">Home</button>
		<button data-url="pages/categories.html" id="div1-link">Category</button>
		<button data-url="pages/categories.html" id="div1-link">Category</button>
		<button data-url="pages/categories.html" id="div1-link">Category</button>
		<button data-url="pages/categories.html" id="div1-link">Category</button>
	</div>
</div>
